.popup{

    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    margin-top: 40px; 
}

.popup .close-btn {

    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"],
.popup .form .form-element input[type="number"],
.popup .form .form-element input[type="email"]{

    margin-top: 3px;
    margin-bottom: 10px;
    display: block;
    width: 94%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element button {

    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 3px;
}




