<div class="admin-manage-list">
    <h1 class="admin-title">Manage Admins</h1>
    <div class="admin-container">
        
        <ul class="admin-list">
            <li class="list-content">
                <p>Maleesh Dhanuka</p>
                <p>A104</p>
                <button>Delete</button>
            </li>
            <li class="list-content">
                <p>Maleesh Dhanuka</p>
                <p>A104</p>
                <button>Delete</button>
            </li>
            <li class="list-content">
                <p>Maleesh Dhanuka</p>
                <p>A104</p>
                <button>Delete</button>
            </li>
            <li class="list-content">
                <p>Maleesh Dhanuka</p>
                <p>A104</p>
                <button>Delete</button>
            </li>
            <li class="list-content">
                <p>Maleesh Dhanuka</p>
                <p>A104</p>
                <button>Delete</button>
            </li>
            <li class="list-content">
                <p>Maleesh Dhanuka</p>
                <p>A104</p>
                <button>Delete</button>
            </li>
            <li class="list-content">
                <p>Maleesh Dhanuka</p>
                <p>A104</p>
                <button>Delete</button>
            </li>
            <li class="list-content">
                <p>Maleesh Dhanuka</p>
                <p>A104</p>
                <button>Delete</button>
            </li>
            <li class="list-content add-admin">
                <p>ADD NEW ADMIN</p>
                <button>Add</button>
            </li>
        </ul>
    </div>
</div>
</div>


<div class="admin-main-container">
    <div class="admin-detail-container">
        <div class="flights">Total Flights<br><h1>17</h1></div>
        <div class="planes">Total Planes Grounded<br><h1>17</h1></div>
        <div class="total">Total Flights<br><h1>17</h1></div>
</div>