* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

nav {
    background-color: #fff;
    height: 80px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Nav Bar */
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.topnav a {
    color: #000;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #7048e8;
}

.top-logo {
    position: absolute;
    top: -13px;
    left: 168px;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 75px;
}


.input-boxes {
    position: relative;

}


/* New Classes */
.main-container h1 {
    text-align: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 2em;
    margin-bottom: 1 em;
    margin-left: 30px;
    margin-right: 0;
    padding-left: 40px;
}

li {
    margin-bottom: 10px;
}

.manage-description-box h3 {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}

.title-description {
    text-align: center;
    width: 900px;
    margin: auto;
    padding-top: 60px;
}

.manage-box {
    background-color: #fff;
    width: 900px;
    height: 130px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 55px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.manage-description {
    background-color: #fff;
    width: 900px;
    height: 250px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.last-name {
    width: 220px;
    height: 30px;
    margin-top: 50px;
    margin-left: 40px;
}

.ref-number {
    width: 400px;
    height: 30px;
}

.manage-buttons {
    border: none;
    color: #fff;
    background-color: #7048e8;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 7px;
}

.manage-buttons:hover {
    color: #7048e8;
    background-color: #fff;
    border: 1px solid #7048e8;
}


/* footer */

.social-icon {
    margin: 20px 10px;
}


.footer-distributed {
    background: #7048e8;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed .footer-left h3 {
    color: #fff;
    font-size: 24px;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 15px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}


.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 10px;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #F8F8F8;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #F8F8F8;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}