* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
  }

.main-container {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -20px 0 50px;
}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}


span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	/* border: 1px solid #7048e8; */
	background-color: #7048e8;
	/* color: #FFFFFF; */
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}


button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
	margin-top: 15px;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input,
select {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	border-radius: 13px;
	text-align: center;
}

.container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	/* top: 0; */
	height: 100%;
}

.sign-in-container {
	left: 0;
	width: 50%;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}


.overlay {
	background: #7048e8;
	background: -webkit-linear-gradient(to right, #9d8ff6, #7048e8);
	background: linear-gradient(to right, #9d8ff6, #7048e8);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}


.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}


.overlay-right {
	right: 0;
	transform: translateX(0);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.sign-in_btn {
	width: 60%;
	height: 40px;
	border: 0;
	background: #5f3dc4;
	border-radius: 23px;
	outline: none;
	color: #ffffff;
	cursor: pointer;
}

.sign-in_btn:hover {
	background: #fff;
	color: #7048e8;
	border: 1px solid #7048e8;
}

.sign-up {
	margin-top: 10px;
}

/* Navbar section */

nav {
	background-color: #fff;
	height: 80px;
	position: relative;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.topnav {
	background-color: #fff;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.topnav a {
	color: #000;
	text-align: center;
	padding: 14px 18px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	color: #7048e8;
}

.top-logo {
	position: absolute;
	top: -13px;
	left: 168px;
}

.main-container h1 {
	margin-bottom: 40px;
}

.form-container h4 {
	margin-top: 10px;
	margin-left: 10px;
}

form {
	color: #000;
	background: transparent;
}

/* Footer  */
.social-icon {
	margin: 20px 10px;
}


.footer-distributed {
	background: #7048e8;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
	width: 40%;
}

.footer-distributed .footer-left h3 {
	color: #fff;
	font-size: 24px;
}

/* Footer links */

.footer-distributed .footer-links {
	color: #ffffff;
	margin: 15px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
}

/* Footer Center */

.footer-distributed .footer-center {
	width: 35%;
}

.footer-distributed .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}


.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	font-weight: 400;
	vertical-align: middle;
	margin: 10px;
}

.footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-distributed .footer-center p a {
	color: #F8F8F8;
	text-decoration: none;
	;
}

.footer-distributed .footer-links a:before {
	content: "|";
	font-weight: 300;
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
}

/* Footer Right */

.footer-distributed .footer-right {
	width: 20%;
}

.footer-distributed .footer-company-about {
	line-height: 20px;
	color: #F8F8F8;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons {
	margin-top: 25px;
}

.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}